{% extends 'base.html.twig' %}

{% block title %}Apprenez durablement grâce aux flashcards{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/presentation.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 text-center mt-5">
               <h1 class="position-relative">Présentation de l'application</h1> 
            </div>
        </div>
    </div>
    <div class="presentation-orange-stripe py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2 class="text-white">Qu'est-ce qu'une carte mémoire ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation-white-stripe py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2>Comment ça marche, la répétition espacée ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>     
    </div>
    <div class="presentation-orange-stripe py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2 class="text-white">Comment créer et réviser mes cartes mémoire ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation-white-stripe py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2>Comment décider de la prochaine date de révision ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>     
    </div>
    <div class="presentation-orange-stripe py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2 class="text-white">Combien de cartes puis-je réviser quotidiennement ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="presentation-white-stripe py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2>Comment bien apprendre ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>     
    </div>
    <div class="presentation-orange-stripe presentation-last-stripe pt-4">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 text-center mt-5">
                <h2 class="text-white">On commence quand ?</h2>
                 <p class="mt-3 mb-5 text-presentation text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quos illo? Porro nisi laudantium laboriosam doloremque unde, cupiditate deleniti voluptatibus dignissimos. Eius itaque dignissimos exercitationem non sint aperiam doloribus, perferendis commodi maxime magni reprehenderit nostrum, rem dolore! Totam iure explicabo rerum sit? Veritatis, quam doloremque!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}